rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /survey_sessions/{sessionId} {
      allow read: if true;
      allow create, update: if true;
      allow delete: if true;
    }
  }
}
